.contrast-header-light .site-header {
  background-color: #faf9f9;
}
.contrast-header-light .site-header h1 {
  color: #332d27;
}
.contrast-header-light .site-header h2 {
  color: #574736;
}
.contrast-header-light .site-header a {
  color: #332d27;
}
.contrast-header-light .site-header .mobile-nav-btn:hover:before {
  color: #332d27;
}
.contrast-header-light .site-header .header-social-icons a {
  color: #c6b9ac;
}
.contrast-header-light .site-header .widget-title {
  color: #574736;
}
.contrast-header-light .site-header .widget_archive,
.contrast-header-light .site-header .widget_categories {
  color: #c0ad99;
}
.contrast-header-light .site-header .widget-btn-expand {
  border-color: #c0ad99;
}
.contrast-header-light .site-header .widget-btn-expand:after {
  color: #c0ad99;
}
.contrast-header-light .site-header .widget {
  border-color: #efecea;
}
.contrast-header-light .site-header .widget:hover .widget-btn-expand {
  border-color: #443a2f;
}
.contrast-header-light .site-header .widget:hover:after,
.contrast-header-light .site-header .widget:hover .widget-btn-expand:after,
.contrast-header-light .site-header .widget:hover .widget-title {
  color: #443a2f;
}
.contrast-header-light .site-header .widget:after {
  color: #806040;
}
.contrast-header-light .site-header .widget > ul,
.contrast-header-light .site-header .widget #calendar_wrap,
.contrast-header-light .site-header .widget .tagcloud,
.contrast-header-light .site-header .widget .menu,
.contrast-header-light .site-header .widget .menu .sub-menu {
  background-color: #faf9f9;
}
.contrast-header-light .site-header .widget_search input[type="search"] {
  background: 0;
}
.contrast-header-light .site-header .widget_search label {
  background: #efecea;
}
.contrast-header-light .site-header .widget_search label:after {
  color: #443a2f;
}
.contrast-header-dark .site-header {
  background-color: #151412;
}
.contrast-header-dark .site-header h1 {
  color: #cec6be;
}
.contrast-header-dark .site-header h2 {
  color: #c0ad99;
}
.contrast-header-dark .site-header a {
  color: #cec6be;
}
.contrast-header-dark .site-header .mobile-nav-btn:hover:before {
  color: #cec6be;
}
.contrast-header-dark .site-header .header-social-icons a {
  color: #443a2f;
}
.contrast-header-dark .site-header .widget-title {
  color: #c0ad99;
}
.contrast-header-dark .site-header .widget_archive,
.contrast-header-dark .site-header .widget_categories {
  color: #574736;
}
.contrast-header-dark .site-header .widget-btn-expand {
  border-color: #574736;
}
.contrast-header-dark .site-header .widget-btn-expand:after {
  color: #574736;
}
.contrast-header-dark .site-header .widget {
  border-color: #161411;
}
.contrast-header-dark .site-header .widget:hover .widget-btn-expand {
  border-color: #c6b9ac;
}
.contrast-header-dark .site-header .widget:hover:after,
.contrast-header-dark .site-header .widget:hover .widget-btn-expand:after,
.contrast-header-dark .site-header .widget:hover .widget-title {
  color: #c6b9ac;
}
.contrast-header-dark .site-header .widget:after {
  color: #806040;
}
.contrast-header-dark .site-header .widget > ul,
.contrast-header-dark .site-header .widget #calendar_wrap,
.contrast-header-dark .site-header .widget .tagcloud,
.contrast-header-dark .site-header .widget .menu,
.contrast-header-dark .site-header .widget .menu .sub-menu {
  background-color: #151412;
}
.contrast-header-dark .site-header .widget_search input[type="search"] {
  background: 0;
}
.contrast-header-dark .site-header .widget_search label {
  background: #161411;
}
.contrast-header-dark .site-header .widget_search label:after {
  color: #c6b9ac;
}
.contrast-sidebar-light .main-navigation {
  background-color: #e4e0db;
  color: #332d27;
}
.contrast-sidebar-light .main-navigation a {
  color: #574736;
}
.contrast-sidebar-light .main-navigation .primary-menu-container .menu,
.contrast-sidebar-light .main-navigation .primary-menu-container .menu a {
  color: #574736;
}
.contrast-sidebar-light .main-navigation .primary-menu-container .current-menu-item a,
.contrast-sidebar-light .main-navigation .primary-menu-container .menu .menu-item:hover a {
  color: #FFF;
}
.contrast-sidebar-light .main-navigation .primary-menu-container .menu-item-has-children > a:after {
  color: #c0ad99;
}
.contrast-sidebar-light .main-navigation .primary-menu-container .current-menu-item,
.contrast-sidebar-light .main-navigation .primary-menu-container .menu-item:hover {
  background: #c6b9ac;
  background: rgba(68, 58, 47, 0.2);
}
.contrast-sidebar-light .main-navigation .primary-menu-container .menu a:hover {
  color: #faf9f9;
}
.contrast-sidebar-light .main-navigation .widget-area .widget-title {
  color: #cec6be;
}
.contrast-sidebar-light .main-navigation .widget-area .widget:hover .widget-title {
  color: #332d27;
}
.contrast-sidebar-light .main-navigation .widget-area .tagcloud a {
  background-color: #faf9f9;
}
.contrast-sidebar-light .main-navigation.icons .primary-menu-container .menu-item:before {
  color: #c0ad99;
}
.contrast-sidebar-light .main-navigation.icons .widget:before {
  color: #c0ad99;
}
.contrast-sidebar-dark .main-navigation {
  background-color: #161411;
  color: #cec6be;
}
.contrast-sidebar-dark .main-navigation a {
  color: #c0ad99;
}
.contrast-sidebar-dark .main-navigation .primary-menu-container .menu,
.contrast-sidebar-dark .main-navigation .primary-menu-container .menu a {
  color: #c0ad99;
}
.contrast-sidebar-dark .main-navigation .primary-menu-container .current-menu-item a,
.contrast-sidebar-dark .main-navigation .primary-menu-container .menu .menu-item:hover a {
  color: #FFF;
}
.contrast-sidebar-dark .main-navigation .primary-menu-container .menu-item-has-children > a:after {
  color: #574736;
}
.contrast-sidebar-dark .main-navigation .primary-menu-container .current-menu-item,
.contrast-sidebar-dark .main-navigation .primary-menu-container .menu-item:hover {
  background: #443a2f;
  background: rgba(198, 185, 172, 0.2);
}
.contrast-sidebar-dark .main-navigation .primary-menu-container .menu a:hover {
  color: #000000;
}
.contrast-sidebar-dark .main-navigation .widget-area .widget-title {
  color: #332d27;
}
.contrast-sidebar-dark .main-navigation .widget-area .widget:hover .widget-title {
  color: #cec6be;
}
.contrast-sidebar-dark .main-navigation .widget-area .tagcloud a {
  background-color: #000000;
}
.contrast-sidebar-dark .main-navigation.icons .primary-menu-container .menu-item:before {
  color: #574736;
}
.contrast-sidebar-dark .main-navigation.icons .widget:before {
  color: #574736;
}
.contrast-body-light {
  background: #efecea;
  color: #332d27;
}
.contrast-body-light a:hover {
  color: #332d27;
}
.contrast-body-light input[type="text"],
.contrast-body-light input[type="email"],
.contrast-body-light input[type="url"],
.contrast-body-light input[type="password"],
.contrast-body-light input[type="search"],
.contrast-body-light textarea {
  border-color: #cec6be;
  background-color: #efecea;
  color: #574736;
}
.contrast-body-light input[type="text"]:focus,
.contrast-body-light input[type="email"]:focus,
.contrast-body-light input[type="url"]:focus,
.contrast-body-light input[type="password"]:focus,
.contrast-body-light input[type="search"]:focus,
.contrast-body-light textarea:focus {
  border-color: #c0ad99;
  background-color: #cec6be;
  color: #574736;
}
.contrast-body-light button,
.contrast-body-light input[type="button"],
.contrast-body-light input[type="reset"],
.contrast-body-light input[type="submit"] {
  background-color: #332d27;
}
.contrast-body-light .main-navigation .widget-area .widget_search input {
  background: none;
}
.contrast-body-light .comment-list,
.contrast-body-light .comment-list .children .comment-body,
.contrast-body-light .author-container,
.contrast-body-light .hentry {
  background-color: #faf9f9;
}
.contrast-body-light .flexslider-sticky-post .entry-title a:hover {
  color: #332d27;
}
.contrast-body-light .flexslider-sticky-post .hentry {
  background: #332d27;
}
.contrast-body-light .flexslider-sticky-post .flex-control-paging li a {
  background: #c6b9ac;
}
.contrast-body-light .flexslider-sticky-post .flex-control-paging li a:hover,
.contrast-body-light .flexslider-sticky-post .flex-control-paging li a.flex-active {
  background: #443a2f;
}
.contrast-body-light .page .entry-header.has-post-thumb {
  color: #faf9f9;
  background-color: #332d27;
}
.contrast-body-light .comment.bypostauthor {
  background-color: #cec6be;
}
.contrast-body-light .entry-title a {
  color: #332d27;
}
.contrast-body-light .format-link .entry-link,
.contrast-body-light .format-quote .entry-quote {
  background-color: #332d27;
}
.contrast-body-light.search-results .post {
  border-color: #efecea;
}
.contrast-body-light .cat-links:before,
.contrast-body-light .tags-links:before {
  color: #cec6be;
}
.contrast-body-light .comments-title,
.contrast-body-light .comment-reply-title {
  color: #443a2f;
}
.contrast-body-light .comments-title:before,
.contrast-body-light .comment-reply-title:before {
  color: #c6b9ac;
}
.contrast-body-light .comment-notes,
.contrast-body-light .logged-in-as {
  color: #c6b9ac;
}
.contrast-body-light .comments-area .edit-link a,
.contrast-body-light .comment-reply-link {
  border-color: #c6b9ac;
  color: #806040;
}
.contrast-body-light .comments-area .edit-link a:hover,
.contrast-body-light .comment-reply-link:hover {
  color: #FFF;
}
.contrast-body-light .comment-meta .comment-metadata a {
  color: #c6b9ac;
}
.contrast-body-light .bypostauthor > .comment-body .comment-metadata a {
  color: #806040;
}
.contrast-body-light .hentry .edit-link a {
  color: #cec6be;
}
.contrast-body-light .post-format-link:hover {
  background-color: #332d27;
  color: #cec6be;
}
.contrast-body-light .more-link:hover {
  color: #FFF;
}
.contrast-body-light .share-post .share-link a {
  color: #c6b9ac;
}
.contrast-body-light .site-main [class*="navigation"] .nav-links a,
.contrast-body-light .navigation .nav-links a {
  background: #e4e0db;
}
.contrast-body-light .share-post .share-link a:before {
  color: #574736;
}
.contrast-body-light .profile-header {
  background-color: #332d27;
}
.contrast-body-light .profile-header .profile-image {
  background-color: #332d27;
}
.contrast-body-light .team-members li {
  border-color: #cec6be;
}
.contrast-body-light .member-image {
  background-color: #332d27;
}
.contrast-body-light .team-members {
  background-color: #efecea;
}
.contrast-body-light .member-name {
  color: #443a2f;
}
.contrast-body-light .member-job-title,
.contrast-body-light .member-icons {
  color: #c0ad99;
}
.contrast-body-light .contact-details {
  color: #574736;
}
.contrast-body-light .contact-details .contact-list {
  border-color: #cec6be;
  background-color: #e4e0db;
}
.contrast-body-light .contact-details .contact-list li:before {
  color: #c6b9ac;
}
.contrast-body-light .nav-more a {
  background: #faf9f9;
}
.contrast-body-light .site-footer {
  background-color: rgba(68, 58, 47, 0.1);
  color: #806040;
}
.contrast-body-light .site-footer a {
  color: #574736;
}
.contrast-body-dark {
  background: #161411;
  color: #cec6be;
}
.contrast-body-dark a:hover {
  color: #cec6be;
}
.contrast-body-dark input[type="text"],
.contrast-body-dark input[type="email"],
.contrast-body-dark input[type="url"],
.contrast-body-dark input[type="password"],
.contrast-body-dark input[type="search"],
.contrast-body-dark textarea {
  border-color: #332d27;
  background-color: #161411;
  color: #c0ad99;
}
.contrast-body-dark input[type="text"]:focus,
.contrast-body-dark input[type="email"]:focus,
.contrast-body-dark input[type="url"]:focus,
.contrast-body-dark input[type="password"]:focus,
.contrast-body-dark input[type="search"]:focus,
.contrast-body-dark textarea:focus {
  border-color: #574736;
  background-color: #332d27;
  color: #c0ad99;
}
.contrast-body-dark button,
.contrast-body-dark input[type="button"],
.contrast-body-dark input[type="reset"],
.contrast-body-dark input[type="submit"] {
  background-color: #cec6be;
}
.contrast-body-dark .main-navigation .widget-area .widget_search input {
  background: none;
}
.contrast-body-dark .comment-list,
.contrast-body-dark .comment-list .children .comment-body,
.contrast-body-dark .author-container,
.contrast-body-dark .hentry {
  background-color: #151412;
}
.contrast-body-dark .flexslider-sticky-post .entry-title a:hover {
  color: #cec6be;
}
.contrast-body-dark .flexslider-sticky-post .hentry {
  background: #cec6be;
}
.contrast-body-dark .flexslider-sticky-post .flex-control-paging li a {
  background: #443a2f;
}
.contrast-body-dark .flexslider-sticky-post .flex-control-paging li a:hover,
.contrast-body-dark .flexslider-sticky-post .flex-control-paging li a.flex-active {
  background: #c6b9ac;
}
.contrast-body-dark .page .entry-header.has-post-thumb {
  color: #151412;
  background-color: #cec6be;
}
.contrast-body-dark .comment.bypostauthor {
  background-color: #332d27;
}
.contrast-body-dark .entry-title a {
  color: #cec6be;
}
.contrast-body-dark .format-link .entry-link,
.contrast-body-dark .format-quote .entry-quote {
  background-color: #cec6be;
}
.contrast-body-dark.search-results .post {
  border-color: #161411;
}
.contrast-body-dark .cat-links:before,
.contrast-body-dark .tags-links:before {
  color: #332d27;
}
.contrast-body-dark .comments-title,
.contrast-body-dark .comment-reply-title {
  color: #c6b9ac;
}
.contrast-body-dark .comments-title:before,
.contrast-body-dark .comment-reply-title:before {
  color: #443a2f;
}
.contrast-body-dark .comment-notes,
.contrast-body-dark .logged-in-as {
  color: #443a2f;
}
.contrast-body-dark .comments-area .edit-link a,
.contrast-body-dark .comment-reply-link {
  border-color: #443a2f;
  color: #806040;
}
.contrast-body-dark .comments-area .edit-link a:hover,
.contrast-body-dark .comment-reply-link:hover {
  color: #FFF;
}
.contrast-body-dark .comment-meta .comment-metadata a {
  color: #443a2f;
}
.contrast-body-dark .bypostauthor > .comment-body .comment-metadata a {
  color: #806040;
}
.contrast-body-dark .hentry .edit-link a {
  color: #332d27;
}
.contrast-body-dark .post-format-link:hover {
  background-color: #cec6be;
  color: #332d27;
}
.contrast-body-dark .more-link:hover {
  color: #FFF;
}
.contrast-body-dark .share-post .share-link a {
  color: #443a2f;
}
.contrast-body-dark .site-main [class*="navigation"] .nav-links a,
.contrast-body-dark .navigation .nav-links a {
  background: #25201c;
}
.contrast-body-dark .share-post .share-link a:before {
  color: #c0ad99;
}
.contrast-body-dark .profile-header {
  background-color: #cec6be;
}
.contrast-body-dark .profile-header .profile-image {
  background-color: #cec6be;
}
.contrast-body-dark .team-members li {
  border-color: #332d27;
}
.contrast-body-dark .member-image {
  background-color: #cec6be;
}
.contrast-body-dark .team-members {
  background-color: #161411;
}
.contrast-body-dark .member-name {
  color: #c6b9ac;
}
.contrast-body-dark .member-job-title,
.contrast-body-dark .member-icons {
  color: #574736;
}
.contrast-body-dark .contact-details {
  color: #c0ad99;
}
.contrast-body-dark .contact-details .contact-list {
  border-color: #332d27;
  background-color: #25201c;
}
.contrast-body-dark .contact-details .contact-list li:before {
  color: #443a2f;
}
.contrast-body-dark .nav-more a {
  background: #151412;
}
.contrast-body-dark .site-footer {
  background-color: rgba(198, 185, 172, 0.1);
  color: #806040;
}
.contrast-body-dark .site-footer a {
  color: #c0ad99;
}
